:root {
  --primary-font: "Outfit", sans-serif;
  --accent: #ff6543;
  --text-color: #272727;
  --border-color: #e3e3e3;
}

* {
  box-sizing: border-box;
}

.top-info-container {
  border-bottom: 1px solid var(--border-color);
}

.top-info-container span {
  font-family: "Outfit";
  color: var(--text-color);
  font-size: 1.125rem;
  font-weight: 200;
}
