:root {
  --primary-font: "Outfit", sans-serif;
  --accent: #ff6543;
  --text-color: #272727;
  --border-color: #e3e3e3;
}

.logo {
  font-family: var(--primary-font);
  color: #272727;
  font-size: 1.938rem;
  font-weight: 500;
  cursor: pointer;
}

.logo span {
  font-weight: 100;
}

.links {
  gap: 2.5rem;
}

.links a {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 300;
  transition: 0.3s;
}

.links a:hover {
  color: var(--accent);
}

.icon-links {
  gap: 1.25rem;
}
